<section class="ranges">
  <header class="ranges__header">
    <div *ngFor="let data of headerData">
      <h2>{{ data.playerTitle }} position</h2>
      <mat-radio-group
        class="positions"
        [(ngModel)]="data.position"
        (ngModelChange)="scrollToTop()"
      >
        <mat-radio-button
          class="positions__item"
          *ngFor="let position of positions"
          [value]="position"
        >
          {{ position }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </header>

  <div class="ranges__main">
    <figure *ngFor="let img of ranges[heroPosition]">
      <img [src]="IMG_PATH + heroPosition + '/' + img" [alt]="img" />
      <figcaption>{{ img }}</figcaption>
    </figure>
  </div>
</section>

<section>
  <app-math-page [vertical]="true"></app-math-page>
</section>
