<section class="ranges">
  <header class="ranges__header">
    <div *ngFor="let data of headerData">
      <h2>{{ data.playerTitle }} position</h2>
      <mat-radio-group
        class="positions"
        [formControl]="data.control"
        (ngModelChange)="onPositionChange()"
      >
        <mat-radio-button
          class="positions__item"
          *ngFor="let position of positions"
          [value]="position"
        >
          {{ position }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </header>

  <div class="ranges__main">
    <figure *ngFor="let img of images; trackBy: trackBySrc">
      <img [src]="img.src" [alt]="img.label" />
      <figcaption>{{ img.label }}</figcaption>
    </figure>
  </div>
</section>

<section>
  <app-math-page [vertical]="true"></app-math-page>
</section>
