:host {
  display: block;
}

.positions {
  position: sticky;
  top: 0;
  display: block;
  padding-bottom: 0.5rem;
  background-color: #fff;

  &__item {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

.ranges {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 500px));
  grid-auto-rows: minmax(auto, 500px);
}

img {
  height: auto;
  width: 100%;
}

figure {
  margin: 1.5rem;
}

figcaption {
  text-align: center;
}
