:host {
  display: grid;
  grid-template-columns: 7fr minmax(16rem, 3fr);
  grid-column-gap: 1rem;
}

.positions {
  &__item {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

.ranges {
  margin-right: 2em;

  &__header {
    display: flex;
    position: sticky;
    top: 0;
    padding-bottom: 0.5rem;
    background-color: #fff;
  }

  &__main {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }
}

.math {
  position: sticky;
  top: 0;
}

img {
  height: auto;
  width: 100%;
}

figcaption {
  text-align: center;
}
