<div>
  <h2 class="mat-h2">Pod Odds</h2>
  <div class="d-flex align-items-start pot-odds">
    <div class="d-flex flex-column">
      <img
        class="pot-odds__formulas"
        src="assets/img/reference/pot_odds_formulas.png"
        alt="Pot Odds Formulas"
      />
      <img
        class="pot-odds__table"
        src="assets/img/reference/pot_odds_outs_table.png"
        alt="Pot Odds Table"
      />
    </div>
    <img
      class="pot-odds__chart"
      src="assets/img/reference/pot_odds_outs_chart.png"
      alt="Pot Odds Chart"
    />
  </div>
</div>
