<mat-toolbar class="header mat-elevation-z6" color="primary">
  <h1 class="header__title">Poker Helper</h1>
  <app-rng></app-rng>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a
        *ngFor="let page of pages"
        [routerLink]="page.path"
        mat-list-item
        routerLinkActive="link-active"
      >
        {{ page.data.title }}
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
