.header {
  position: relative;
  justify-content: space-between;
  z-index: 5;
  margin-bottom: 0.5rem;

  &__title {
    margin: 0;
    padding: 0 1rem;
  }
}

mat-drawer-container {
  display: flex;
  min-height: calc(100vh - 4.5rem);
  background-color: transparent;
}

mat-drawer-content {
  padding: 1.3rem 1.5rem;
  height: auto;
}

mat-drawer {
  width: 15rem;
}

.link-active {
  background: rgba(63, 81, 181, 0.15);
  color: #3f51b5;
}
