<div>
  <mat-form-field class="form-input">
    <mat-label>Current Pot</mat-label>
    <input matInput type="number" [(ngModel)]="pot" />
  </mat-form-field>
  <mat-form-field class="form-input">
    <mat-label>Bet</mat-label>
    <input matInput type="number" [(ngModel)]="bet" />
  </mat-form-field>
</div>
<div>
  <mat-form-field class="form-input">
    <mat-label>Bluff Freq</mat-label>
    <input matInput type="text" [ngModel]="bluff | percent" readonly />
  </mat-form-field>

  <mat-form-field class="form-input">
    <mat-label>Value Freq</mat-label>
    <input matInput type="text" [ngModel]="value | percent" readonly />
  </mat-form-field>

  <mat-form-field class="form-input">
    <mat-label>Bluff to Value Ratio</mat-label>
    <input matInput type="text" [ngModel]="bluffToValueRatio" readonly />
  </mat-form-field>
</div>
