<div *ngIf="showInputs">
  <mat-form-field class="form-input">
    <mat-label>Current Pot</mat-label>
    <input matInput type="number" [(ngModel)]="pot" (ngModelChange)="potChange.emit($event)" />
  </mat-form-field>
  <mat-form-field class="form-input">
    <mat-label>Bet</mat-label>
    <input matInput type="number" [(ngModel)]="bet" (ngModelChange)="betChange.emit($event)" />
  </mat-form-field>
</div>
<div>
  <mat-form-field class="form-input">
    <mat-label>Pot Odds</mat-label>
    <input matInput type="text" [ngModel]="result" readonly />
  </mat-form-field>
</div>
